# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.env
.env.*

# ===== Node / Frontend =====
node_modules/
dist/

frontend/node_modules/
frontend/.vite/

# Vite build cache
.vite/
# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== IDE / Editor =====
.vscode/
.idea/
