# FastAPI and server
fastapi>=0.104.0
uvicorn>=0.24.0
pydantic>=2.5.0
python-multipart>=0.0.6

# Database
aiosqlite>=0.19.0

requests>=2.31.0
python-dotenv>=1.0.0

# For WhatsApp messaging 
pywhatkit>=5.4

# Password hashing
bcrypt>=4.1.0

 #python ver
 #node js- 22 ver
